<header class="main-header">
    <div class="main-header-top-bar">
        <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
        <form class="buscador">
            <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
        </form>
        <div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Sistema de Administración de Productos</p>
        </div>
    </div>
    <a href="#" class="burger-button"><i class="fa fa-bars burger"></i></a>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nuevo</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <li><a href="register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
            <li><a href="login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
        </ul>
    </nav>
</header>