<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
                <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo">
                <div class="buscador">
                    <input type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
                </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>
        </div>
            <a href="#" class="burger-button"><i class="fa fa-bars burger"></i></a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="#">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="articulos">
                <div class="artic" id="caf">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imágen Cafetría" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$6770</p>
                            <p id="descuentos">40%OFF</p>
                        </div>
                        <p id="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="artic" id="mac">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imágen MacBook Pro" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$230.000</p>
                            <p id="descuentos">20%OFF</p>
                        </div>
                        <p id="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="artic" id="sam">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imágen Samsung Galaxy S10" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$70.500</p>
                            <p id="descuentos">10%OFF</p>
                        </div>
                        <p id="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="artic" id="sma">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imágen Smart TV Samsung" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$23.200</p>
                            <p id="descuentos">5%OFF</p>
                        </div>
                        <p id="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div class="articulos">
                <div class="artic" id="caf">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Imágen Cafetría" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$6770</p>
                            <p id="descuentos">40%OFF</p>
                        </div>
                        <p id="descripciones">Cafetera Moulinex</p>
                    </div>
                </div>
                <div class="artic" id="mac">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Imágen MacBook Pro" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$230.000</p>
                            <p id="descuentos">20%OFF</p>
                        </div>
                        <p id="descripciones">MacBook Pro 2019</p>
                    </div>
                </div>
                <div class="artic" id="sam">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Imágen Samsung Galaxy S10" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$70.500</p>
                            <p id="descuentos">10%OFF</p>
                        </div>
                        <p id="descripciones">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="artic" id="sma">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Imágen Smart TV Samsung" width="100%">
                    <div class="pre-des-desc">
                        <i class="fas fa-truck"></i>
                        <div class="pre-des">
                            <p id="precios">$23.200</p>
                            <p id="descuentos">5%OFF</p>
                        </div>
                        <p id="descripciones">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </section>
            
    </main>
    <footer>
        <article class="footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </article>
        <article class="footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </article>
        <article>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </article>
    </footer>
</body>
</html>